<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Home - VanaTur Jaú</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='home/home.css') }}">
    <script type="module" src="{{ url_for('static', filename='home/home.js') }}"></script>
</head>
    <body>
        <h1>Home</h1>
        <p>Logado ✅</p>

        <p><a href="{{ url_for('login.logout') }}">Sair</a></p>
    </body>
</html>
